@charset "UTF-8";

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

ol, ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

#content_container {
	margin: auto;
	width: 1140px;
	min-height: inherit;
	height: inherit;
}

.btn-border {
	border: 1px solid #808080;
	border-radius: 8px;
	padding: 10px 25px;
}

/* header style */
#header {
	position: fixed;
	width: 100%;
	z-index: 99;
	background-color: white;
	top: 0;
}

#logo {
	padding-top: 10px; width : 80px;
	height: 80px;
	z-index: 7;
	float: left;
	width: 80px;
}

/* 메뉴 */
#menu-container{
	float:right;
	padding-top:1em;
}
.menu-wrapper{
	float:left;
	display:block;
	padding-top:1em;
}

.menu-wrapper ul li{
	position: relative;
}

.main-menu {
    padding-top: 1em;
}

.main-menu li{
	float:left;
}

.main-menu li a{
	color: #727476;
	font-size: 15px;
	text-align: center;
	font-weight: 500;
	text-decoration: none;
	border-bottom: 2px solid #fff;
	padding: 0px 10px 30px 10px;
	display: block;
}
.main-menu > li.active > a, 
.main-menu > li > a:hover{
   color:#F8D9DD;
   transition:0.5s all;
   -webkit-transition:0.5s all;
   -moz-transition:0.5s all;
   -o-transition:0.5s all;
   -ms-transition:0.5s all;
   border-bottom: 2px solid #F8D9DD;
}

.menu-wrapper{
	position:relative;
}
.menu-wrapper ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.menu-wrapper li{
	display:inline;
	float:left;
	postion:relative;
	margin-left:30px;
}
.menu-wrapper a{
	display:inline-block;
	text-align:center;
	text-decoration:none;
	line-height:40px;
}

/*로그인버튼*/  
#login .btn-border {
	color: #727476;
	font-size: 15px;
	border: 1px solid #808080;
	border-radius: 8px;
	padding: 1px 25px;
}

#login a:hover{
	color: #F8D9DD;
	border:1px solid #F8D9DD;
}

/*main 기초*/
main {
	text-align: center;
}

#body div {
	padding: 50px;
	min-height: 300px;
}

/*footer*/
#footer {
	padding-left: 100px;
	background: lightgrey;
}
