@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


/* 기본 section */
* {
  margin:0;
  padding:0;
  outline:none;
  list-style:none;
  text-decoration:none;
  box-sizing:border-box;
  color:#111;
/*   background: transparent;
  border:none; */
}

body {
  background: #f3f3f3;
  font-family: 'Montserrat', sans-serif;
}
.flex {
	min-height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* 
.wrap h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
 */
 
 /* section title */
.wrap {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  top: 17%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

section.input-title {
  height: 400px;
  background: #fff;
  text-align: center;
}

.input-title h1 {
  font-size: 30px;
}

.tooltiper {
  position: relative;
  display: inline-block;
  color: tomato;
  perspective:600px;
  transform-style: preserve-3d;
}

.tooltiper .tooltip {
  min-width: max-content;
  position: absolute;
  font-size: 0.7rem;
  text-align: left;
  background: tomato;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: block;
  top: 0;left: 0;
  line-height: 1.4em;
  transform: rotateX(90deg) translateZ(0px);
  opacity: 0;
  transition: transform 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53), opacity 0.1s ease-out 0.1s;
}
.tooltiper:hover .tooltip {
  transform: rotateX(0) translateZ(20px);
  opacity: 1;
  transition: transform 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53), opacity 0.1s ease-out;
}
.tooltiper .tooltip:after {
  content:"";
  position: absolute;
  left: 20px;
  bottom: -7px;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: tomato transparent transparent transparent;
}

/*-------------------input 폼--------------------*/



/* html {
	box-sizing: border-box;
	font-size: 10px;
}
 */
*, *:before, *:after {
	box-sizing: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* basic */
.cd-wrapper {
    width: max-content;
    margin: auto;
}
.search {
/* 	background: white; */
	/* background: #F6F6F6;
	color: #090909; */
	
	/* #303a50 */
	/* opacity: 1;  *//* 투명도 */
	display: inline-block;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  background: rgba(248, 217, 221, 0.48);
  padding: 10px 20px 10px 20px;
  border: solid #F8D9DD 2px;
  text-decoration: none;
  max-width: 1024px;
  margin-top: 5%;
}

.search-input {
	font-size: 12px;
	display: flex;
	align-content: center;
	width: 100%;
	height: 100%;
	padding: 5px 10px 15px 10px;
	text-align: center;
	/* border-bottom: 1px solid pink; */ /* top으로 */
}
span.input-title{
	/* font-weight: 500;
	width: 100%; */
	display: inline;
	min-width: 70px;
    /* height: 40px;
    line-height: 40px; */
    font-size: 12px;
    color: #333;
    text-align: center;
    font-weight: 800;
/*     padding-right: 10px; */
}
/* --------------text box */

.field {
  display:flex;
  position:realtive;
  /* margin:5em auto; */
  /* margin-left: 5em; */
  width: 70%;
  flex-direction: row;
  box-shadow: inset 1px 1px 0px 0px #fd93bf, 2px 2px 0 #fd93bf, 3px 3px 0 #fd93bf;
  			 /*  4px 4px 0 #b294ff, 
  			  5px 5px 0 #b294ff, 
  			  6px 6px 0 #b294ff, 
  			  7px 7px 0 #b294ff; */
}

.field>input[type=text]{
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.4em;
  border:0.1em solid #ffffff;
}
/* -----------체크박스 기본---------------- */
.checkbox-group>input[type=checkbox] {
	position: absolute;
	visibility: hidden;
	display: none;
}

.checkbox-group label {
	cursor: pointer;
	font-weight: bold;
	padding: 5px 5px;
	font-size: 12px;
	
}
.day-of-week{
	float: right;
}
.day-of-week label {
	border-radius: 50%;
    /* padding: 2px; */
  /*   margin-left: 5px; */
    margin-right: 5px;
    /* transition: all 0.4s; */
    /* -webkit-transition: all 0.4s; */
    text-align: center;
    /* border: 1.5px solid #5981AC; */
    width: 27px;
    height: 27px;
	
	
	}
.day-of-week input:checked+label {
	color: white;
    background: rgba(255, 0, 114, 0.38);
    border: 1.5px solid rgba(255, 0, 114, 0.38);
}
/* --------------------------아이나이------------- */

.child-age {
 /*  background: #111; */
  color: #000027;/*#fff  */ 
  height: inherit;
}

.child-age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.age-group {
  display: flex;
}
@media (max-width: 48em) {
  .age-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
}

.age-group-label {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.age-label {
  position: relative;
  display: flex;
  margin: 10px;
}
@media (max-width: 48em) {
  .age-label {
    display: block;
    margin: 10px 0;
  }
}
.age-label input {
  opacity: 0;
  position: absolute;
}
.age-label .inner-label {
  position: relative;
  display: flex;
  padding-left: 30px;
  cursor: pointer;
  width: max-content;
}
.age-label .inner-label:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px dashed RGB(0,6,39);/* rgba(255, 255, 255, 0.25) */
  width: 30px;
  -webkit-transition: border-bottom 0.5s ease;
  transition: border-bottom 0.5s ease;
}
.age-label input:focus ~ .inner-label:before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}
/* 체크마크 */
.age-label input:checked ~ .inner-label:after {
  content: '\2713';
  /* color: #fff; */
  position: absolute;
  font-size: 12px;
  left: 12px;
  top: 1px;
}

/* -----------검색 기본--------------- */


.optional {
	width: min-content;
	float: left;
	text-align: center;
	display: flex;
	margin-right: 40px;
}

/* button */

.col{
	background: #F5F0FF;
}
.dark {
	background: rgb(191, 210, 255);/*#24252A	  */
}



a.bttn {
	color: #4d4d00;/* #FF0072 */
	text-decoration: none;
	-webkit-transition: 0.3s all ease;
	transition: 0.3s ease all;
}

a.bttn:hover {
	color: #FFF;
}

a.bttn:focus {
	color: #FFF;
}

a.bttn-dark {
	color: #644cad;
	text-decoration: none;
	-webkit-transition: 0.3s all ease;
	transition: 0.3s ease all;
}

a.bttn-dark:hover {
	color: #FFF;
}

a.bttn-dark:focus {
	color: #FFF;
}

.bttn {
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	width: 300px;
	font-weight: bold;
	padding: 4px 0px;
	border:	1.5px solid #FA72B5;
	border-radius: 2px;
	position: relative;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.bttn:before {
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: '';
	background-color: #FF0072;
	z-index: -2;
}

.bttn:hover:before {
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
}

.bttn:focus:before {
	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
}

.bttn-dark {
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	width: 100px;
	font-weight: bold;
	padding: 4px 0px;
    border: 1.5px solid #877fcd;
	border-radius: 2px;
	position: relative;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
	z-index: 2;
}

.bttn-dark:before {
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: '';
	background-color: #644cad;
	z-index: -1;
}

.bttn-dark:hover:before {
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
}

.bttn-dark:focus:before {
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
}

